h2{
  margin-bottom: 0.2em;
  font-size: 3.25rem;
  line-height: 1em;
  font-weight: normal;
}

.theme-hero__image {
  position: absolute;
  top: 120px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-color: #777;
}

.theme-page-body{
  max-width: 1600px;
  padding-top: 40px;
}

.theme-body-text {
  padding-bottom: 40px;
  font-size: 1.25rem;
  font-family: Muli;
}

.theme-collection {

}

.theme-collection img {
  width: 100%;
  height: auto;
}

.theme-collection__one-image div,
.theme-collection__two-images div {
  padding-bottom: 10px;
}

@media(max-width: 768px) {
  .theme-hero__image {
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}
