@import "../common/lightbox.css";

/* ---- grid ---- */

.theme-image-grid {
  width: 100%;
  background-color: transparent;
}

/* clear fix */
.theme-image-grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/* height of 1 row */
.theme-image-grid__sizer,
.theme-image-grid__image {
  width: 8.333%;
  height: auto;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: filter 200ms ease;
  padding-top: 5.55%;
  /*, width 200ms ease;*/
}

/* uncomment this to make small portrait images vertical */
/*.theme-image-grid__image--portrait {*/
/*  padding-top: 11.111%;*/
/*}*/

.theme-image-grid__image > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}

.theme-image-grid__image--active {
  width: 33.33%;
  height: auto;
  padding-top: 22.22%;
  filter: grayscale(0);
  opacity: 1;
}

.theme-image-grid__image--active.theme-image-grid__image--portrait {
  padding-top: 44.44%;
}

.theme-image-grid__gutter-sizer {
  width: 1%;
  height: 1%;
}

.theme-image-grid__image,
.theme-image-grid__gutter-sizer {
  display: block;
  float: left;
}

/*.theme-image-grid--transitioning-on .theme-image-grid__image {*/
  /*transition: all 0.8s;*/
/*}*/

