/* ---- grid ---- */

.theme-image-grid {
  width: 100%;
  background-color: transparent;
}

/* clear fix */
.theme-image-grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/* height of 1 row */
.theme-image-grid__sizer,
.theme-image-grid__image {
  width: 25%;
  height: auto;
  /*transition: width .4s;*/
}

.theme-image-grid__image--large {
  width: 50%;
  height: auto;
}

.theme-image-grid__gutter-sizer {
  width: 1%;
  height: 1%;
}

.theme-image-grid__image,
.theme-image-grid__gutter-sizer {
  display: block;
  float: left;
}

/*.theme-image-grid--transitioning-on .theme-image-grid__image {*/
  /*transition: all 0.8s;*/
/*}*/

.theme-image-grid__enlarged-image {
  position: fixed;
  background: #000;
}

.theme-image-grid__enlarged-image img {
  width: 100%;
  height: auto;
  display: none;
}

.theme-image-grid__enlarged-image-backdrop {
  position: fixed;
  background: rgba(255,255,255,0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 100;
}
