<div class="theme-image-grid"></div>
<div class="theme-image-grid__enlarged-image-backdrop">
  <button class="theme-image-grid__lightbox-previous" (click)="lightbox.showPrevious">
    <svg viewBox="0 0 50 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
      <title>Path</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polyline id="Path" stroke="#646464" stroke-width="3" points="48.5495645 1.26953125 2.39616312 47.4229326 48.7541354 94"></polyline>
      </g>
    </svg>
  </button>
  <button class="theme-image-grid__lightbox-next" (click)="lightbox.showNext">
    <svg viewBox="0 0 51 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
      <title>Path Copy</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polyline id="Path-Copy" stroke="#646464" stroke-width="3" transform="translate(25.178986, 47.365234) scale(-1, 1) translate(-25.178986, -47.365234) " points="48.1534014 1 2 47.1534014 48.3579723 93.7304688"></polyline>
      </g>
    </svg>
  </button>
</div>
<div class="theme-image-grid__enlarged-image test">
  <img src=""/>
</div>
