<div class="theme-header"
     [class.theme-header--below-content]="belowContent"
     [class.theme-header--menu-open]="menu?.activeParent"
      [style.display]="{ none: menu==null, block: menu!=null }">
  <div class="container-fluid">

    <ul class="theme-menu">
      <li *ngFor="let parent of menu?.items">

        <div>
          <ul [class.active]="menu.activeParent === parent.object_slug">

            <!-- show child links if not on explore page -->
            <template [ngIf]="parent.object_slug!=='explore'">
              <li *ngFor="let child of parent.children">
                <a routerLink="{{ path(parent.object_slug,child.object_slug) }}" routerLinkActive="active">
                  {{ child.title }}
                </a>
              </li>
            </template>

            <!-- show gallery category terms if on explore page -->
            <template [ngIf]="parent.object_slug==='explore'">
              <li *ngFor="let term of menu.mediaCategoryTerms">
                <a routerLink="{{ path(parent.object_slug,term.slug) }}" routerLinkActive="active">
                  {{ term.name }}
                </a>
              </li>
            </template>

          </ul>
        </div>

        <a *ngIf="parent.object==='custom'"
           (click)="showChildren(parent)"
           [class.active]="menu.activeParent === parent.object_slug"
           [class.childActive]="menu.activeParent === parent.object_slug">
          {{ parent.title }}
        </a>
        <a *ngIf="parent.object==='page'"
           routerLink="{{ path(parent.object_slug) }}" routerLinkActive="active">
          {{ parent.title }}
        </a>

      </li>
    </ul>

    <h1>
      <a routerLink="/">
        <ng-content></ng-content>
      </a>
    </h1>

  </div>
</div>
