<div [ngClass]="headerClasses"
     [style.display]="{ none: menu==null, block: menu!=null }">

  <div class="container-fluid">

    <ul [ngClass]="{ 'theme-menu': true, 'theme-menu--show': !!menu}">
      <li *ngFor="let parent of menu?.items" class="theme-menu__item {{parent.object_slug}}">

<!--        <a *ngIf="parent.object==='custom'"-->
<!--           (click)="showChildren(parent)"-->
<!--           [class.active]="menu.activeParent === parent.object_slug"-->
<!--           [class.child-active]="menu.activeParent === parent.object_slug">-->
<!--          {{ parent.title }}-->
<!--        </a>-->
        <a class="page-link"
           (click)="navigate(path(parent.object_slug))" [class.active]="linkActive(path(parent.object_slug))">
          {{ parent.title }}
        </a>

        <div>

          <!-- text based for mobile -->
          <ul [class.active]="menu.activeParent === parent.object_slug">

            <!-- show child links if not on explore page -->
            <ng-template [ngIf]="parent.object_slug!=='explore'">
              <li *ngFor="let child of parent.children">
                <a (click)="navigate(path(parent.object_slug,child.object_slug))" routerLinkActive="active">
                  {{ child.title }}
                </a>
              </li>
            </ng-template>

            <!-- show gallery category terms if on explore page -->
            <ng-template [ngIf]="parent.object_slug==='explore'">
              <li *ngFor="let term of menu.mediaCategoryTerms">
                <a routerLink="{{ path(parent.object_slug, term) }}" routerLinkActive="active">
                  {{ term }}
                </a>
              </li>
            </ng-template>

          </ul>

        </div>

      </li>
    </ul>

  </div>

  <h1>
    <a routerLink="/">
      <ng-content></ng-content>
    </a>
    <a class="menu-toggle" (click)="toggleMobile()">+</a>
  </h1>


  <!-- image based for desktop -->
  <ng-container *ngFor="let parent of menu?.items">
    <div class="menu-image-grid container-fluid"
         *ngIf="parent.object_slug !== 'explore'"
         [class.active]="menu.activeParent === parent.object_slug">
      <div class="row d-none d-sm-block" [class.active]="menu.activeParent === parent.object_slug">

        <div class="menu-image-grid__item" *ngFor="let child of parent.children"
             [ngClass]="{'col-xs-4':parent.children.length>2, 'col-xs-6':parent.children.length<=2}">
          <a class="menu-image-grid__project-link"
             (click)="navigate(path(parent.object_slug,child.object_slug))">
            <ng-template [ngIf]="!!child.gridImage">
              <img [src]="child.gridImage"/>
            </ng-template>
            <div class="menu-image-grid__item-title">{{ child.title }}</div>
          </a>
        </div>

      </div>
    </div>
  </ng-container>

</div>
