.app--menu-showing-grid,
.app--menu-mobile-visible {
  height: 100vh;
  overflow: hidden;
}

.app {
  padding-top: 150px;
}

.app main {
  transition: opacity 400ms ease;
}

.app--navigating main {
  opacity: 0;
}

:host /deep/ .about .theme-hero {
  padding-top: 80vh;
  max-width: 1000px;
  margin: 0 auto;
}
:host /deep/ .about .theme-hero h2 {
  display: none;
}
:host /deep/ .about .theme-hero .theme-hero__image::before {
  display: none;
}
:host /deep/ .about .theme-body-text img {
  float: right;
  width: 50%;
  height: auto;
  margin-left: 40px;
}

:host /deep/ .about .theme-body-text p {
  margin: 0;
}

@media (max-width: 768px) {
  .app {
    padding-top: 0;
  }
}
