<div *ngIf="page" class="theme-page">

  <!--[style.width]="image.sizes['medium_large-width']"-->
  <!--[style.height]="image.sizes['medium_large-height']"-->

  <!--imageGrid-->
  <div *ngIf="images" class="packery-container">
    <div [packery]="images">
    </div>
  </div>

  <div *ngIf="!images" class="theme-page-body container-fluid">

    <!--hero image-->
    <div class="theme-hero" [class.theme-hero--fade-in]="fadeIn">
      <div *ngIf="page.acf?.hero_image && heroSrc" class="theme-hero__image"
           [class.theme-hero__image--loaded]="!!heroSrc"
           [style.background-image]="'url('+heroSrc+')'">
      </div>
      <h2>{{ page.title.rendered }}</h2>
    </div>

    <div [innerHTML]="page.content.rendered" class="theme-body-text">
    </div>

    <!-- collection -->
    <div *ngIf="page.acf.collection" class="theme-collection">
      <template ngFor let-layout [ngForOf]="page.acf.collection">
        <div *ngIf="layout.acf_fc_layout == 'one_image'" class="theme-collection__one-image row">
          <div class="col-sm-12">
            <img src="{{ layout.image.url }}">
          </div>
        </div>
        <div *ngIf="layout.acf_fc_layout == 'two_images'" class="theme-collection__two-images row">
          <div class="col-sm-6">
            <img src="{{ layout.image_one.url }}">
          </div>
          <div class="col-sm-6">
            <img src="{{ layout.image_two.url }}">
          </div>
        </div>
      </template>
    </div>


  </div>

</div>

<div *ngIf="!page">
  <!--loading...-->
</div>
