<div class="theme-page">

  <!--[style.width]="image.sizes['medium_large-width']"-->
  <!--[style.height]="image.sizes['medium_large-height']"-->

  <!--imageGrid-->
  <div class="image-grids container-fluid">
    <div *ngIf="page && page.acf.grid_type==='columns'" class="packery-container">
      <div [packery]="images">
      </div>
    </div>
    <div *ngIf="page && imagesByFours && imageRowStyles && imageRowStyles.length > 0 && page.acf.grid_type==='rows'"
         class="image-rows">
      <div *ngFor="let imageRow of imagesByFours; index as rowIndex" class="image-rows__row"
           [ngStyle]="imageRowStyles[rowIndex].row">
        <div *ngFor="let image of imageRow; index as imageIndex" class="image-rows__image"
             [ngStyle]="imageRowStyles[rowIndex].images[imageIndex]">
          <img [src]="image.sizes.large" [attr.data-src-large]="image.url">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!images" class="theme-page-body container-fluid">

    <!--hero image-->
    <div class="theme-hero" [class.theme-hero--fade-in]="fadeInHero">
      <div *ngIf="page && page.acf?.hero_image && heroSrc && !showFixedHero" class="theme-hero__image"
           [class.theme-hero__image--loaded]="!!heroSrc"
           [style.background-image]="'url('+heroSrc+')'">
      </div>
      <img *ngIf="page && page.acf?.hero_image && heroSrc && showFixedHero" class="theme-hero__image theme-hero__image--natural"
           [class.theme-hero__image--loaded]="!!heroSrc"
           [src]="heroSrc">

      <h2>{{ page?.title.rendered }}</h2>
    </div>

    <div [innerHTML]="page?.content.rendered" class="theme-body-text">
    </div>

    <!-- collection fields -->
    <div *ngIf="page && page.acf.collection" class="theme-collection">
      <template ngFor let-layout [ngForOf]="page.acf.collection">
        <div *ngIf="layout.acf_fc_layout == 'one_image'" class="theme-collection__one-image row">
          <div class="col-sm-12">
            <img src="{{ layout.image.url }}">
          </div>
        </div>
        <div *ngIf="layout.acf_fc_layout == 'two_images'" class="theme-collection__two-images row">
          <div class="col-sm-6">
            <img src="{{ layout.image_one.url }}">
          </div>
          <div class="col-sm-6">
            <img src="{{ layout.image_two.url }}">
          </div>
        </div>
      </template>
    </div>

  </div>

</div>

<div class="theme-image-grid__enlarged-image-backdrop"></div>
<div class="theme-image-grid__enlarged-image">
  <img src=""/>
</div>


<div *ngIf="!page">
  <!--loading...-->
</div>
