h2 {
  margin: 0 0 40px 40px;
  font-size: 52px;
  line-height: 1em;
  font-weight: 100;
}

.theme-hero-image {
  padding-top: 100vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.theme-page {
  padding-top: 40px;
}

.theme-page-body {
  max-width: 1600px;
  padding-top: 40px;
}

.theme-body-text {
  padding-bottom: 40px;
  font-size: 20px;
  /*font-family: Muli;*/
}

.theme-collection {

}

.theme-collection img {
  width: 100%;
  height: auto;
}

.theme-collection__one-image div,
.theme-collection__two-images div {
  padding-bottom: 10px;
}

