.theme-hero {
  position: relative;
  padding-top: 100vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.theme-hero h2 {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  color: #fff;
}
.theme-hero__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 60px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.theme-hero__image::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}

.theme-page {
}

.theme-page-body {
  max-width: 2600px;
}

.theme-body-text {
  padding-bottom: 100px;
  font-size: 1.25rem;
  max-width: 1000px;
  margin: 0 auto;
  /*font-family: Muli;*/
}

.theme-collection {

}

.theme-collection img {
  width: 100%;
  height: auto;
}

.theme-collection__one-image div,
.theme-collection__two-images div {
  padding-bottom: 10px;
}

